<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.8.1/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.8.1/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.8.1/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.8.1/demo.css">
    <script type="text/javascript" src="/jquery-easyui-1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.8.1/jquery.easyui.min.js"></script>
</head>
<body onload='init();'>
    <div style="margin:20px 0;"></div>
    <div class="easyui-panel" style="position:absolute;top:50%;left:53%;width:400px;margin-left: -250px;margin-top: -250px;padding:50px 60px">
    	<h2 style="margin-left:50px;">게시판 회원 로그인</h3>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" prompt="아이디(이메일)" iconWidth="28" style="width:100%;height:34px;padding:10px;">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-passwordbox" prompt="비밀번호" iconWidth="28" style="width:100%;height:34px;padding:10px">
        </div>
        
    	<a href="#" class="easyui-linkbutton c1" style="width:100%;height:34px;padding:5px;">로그인</a>
	    <div style="margin:20px 0">
    		<a id="joinBtn" name="joinBtn" href="#" class="easyui-linkbutton c6" style="width:100%;height:34px;padding:5px;">회원가입</a>
	    </div>
    </div>
</body>
</html>

<script type="text/javascript">
	function init(){
		$("#joinBtn").click(function(){
			window.location.href="joinMember";
		})
	}
</script>